:root {
    /* --map-water: #aad3df; */
    --map-water: #ff0000;
    --map-park: #c6e2be;
    --map-land: #f8f9fa;
    --map-road: #ffffff;
    --map-road-border: #e0e0e0;
}

/* Since the SVG is inside an <object>, we inject these styles via JS (see Step 2) */
.water { fill: var(--map-water) !important; 
    stroke: var(--map-water) !important; /* Matches stroke to fill to hide seams */
    stroke-width: 0.5px;
    fill-opacity: 1 !important  }
.park { fill: var(--map-park) !important; }
.road { stroke: var(--map-road); stroke-width: 2px; fill: none; }
path { transition: fill 0.2s; }
path:hover { fill: #fdfd96 !important; cursor: pointer; }